from Config import *

setOption("ValidNonDomains", (
	"Documentation" ,\
	"Development" ,\
	"Productivity" ,\
))
setOption("ValidSubDomains", (
    "Libraries", \
    "API", \
    "Documentation", \
    "Utilities", \
    "Testing", \
    "Configuration", \
    "Service", \
    "Other", \
    "Development", \
))
setOption("ValidDomains", (
    "System" , \
	"Base" ,\
    "Application Framwork", \
	"Connectivity" ,\
	"Graphics" ,\
	"Location" ,\
	"Messaging" ,\
	"Multimedia" ,\
	"PIM" ,\
	"Security" ,\
	"Telephony" ,\
	"UI Framework" ,\
	"Web" ,\
	"SDK" ,\
	"Content" ,\
	"Social" ,\
	"Automotive" ,\
    "Applications", \
))

setOption("ValidGroups", (
    "System/Kernel" ,\
    "System/Network", \
    "System/Localization" ,\
    "System/Management" ,\
    "System/Monitoring" ,\
    "System/Audio" ,\
	"System/Logging" ,\
	"System/Power Management" ,\
	"System/Sensor Framework" ,\
	"System/System Info" ,\
    "System/Hardware Adaptation", \
    "Application Framework/Package Management", \
	"Application Framework/Alarm" ,\
	"Application Framework/Application State Management" ,\
	"Application Framework/Database" ,\
	"Application Framework/Notifications" ,\
	"Application Framework/Settings" ,\
	"Applications/Core Applications" ,\
	"Applications/Web Applications" ,\
	"Applications/Native Applications" ,\
	"Base/Compression" ,\
	"Base/Device Management" ,\
	"Base/File Systems" ,\
	"Base/IPC" ,\
	"Base/Package Management" ,\
	"Base/Startup" ,\
	"Base/Toolchain" ,\
    "Base/Hardware Adaptation", \
	"Connectivity/Bluetooth" ,\
	"Connectivity/Connection Management" ,\
	"Connectivity/DNS" ,\
	"Connectivity/HTTP" ,\
	"Connectivity/NFC" ,\
	"Connectivity/Wireless" ,\
    "Connectivity/Hardware Adaptation", \
    "Development/Languages", \
    "Development/Toolchain" ,\
    "Development/Testing" ,\
	"Graphics/Fonts" ,\
    "Graphics/Hardware Adaptation", \
	"Graphics/Input" ,\
	"Graphics/Input Service Framework" ,\
	"Graphics/Voice Framework" ,\
	"Graphics/Wayland Window System" ,\
	"Graphics/Window Management" ,\
	"Graphics/X Window System" ,\
	"Location/Geolocation" ,\
	"Messaging/Email" ,\
	"Messaging/SMS" ,\
	"Messaging/Instant Messaging" ,\
	"Multimedia/Audio" ,\
	"Multimedia/Video" ,\
	"Multimedia/Camera" ,\
	"Multimedia/Framework" ,\
	"Multimedia/Policy Management" ,\
    "Multimedia/Hardware Adaptation", \
	"PIM/Calendar" ,\
	"PIM/Contacts" ,\
	"PIM/Events" ,\
	"PIM/Tasks" ,\
	"Development/Building" ,\
	"Development/Cross" ,\
	"Development/Cross Compilation" ,\
	"Development/Perl" ,\
	"Development/Python" ,\
	"Development/SDK" ,\
	"Development/Tools" ,\
	"Development/Packaging" ,\
	"Security/Access Control" ,\
	"Security/Network" ,\
	"Security/Accounts" ,\
	"Security/Certificate Management" ,\
	"Security/Crypto Libraries" ,\
	"Security/DRM" ,\
	"Security/Secure Storage" ,\
    "SDK/Hardware Adaptation", \
	"Telephony/Cellular" ,\
    "Telephony/Hardware Adaptation", \
	"UI Framework/Automotive" ,\
	"UI Framework/Mobile" ,\
	"UI Framework/PC" ,\
	"Web/Web Engine" ,\
	"Web/Web Run Time" ,\
))
