from Config import *

setOption("ValidGroups", (
    "System/GUI/GNOME" ,\
    "System/GUI/Other" ,\
    "System/Kernel" ,\
    "System/Libraries" ,\
    "System/Localization" ,\
    "System/Management" ,\
    "System/Monitoring" ,\
    "System/X11/Fonts" ,\
    "System/X11/Icons" ,\
    "System/X11/Servers" ,\
    "System/X11/Terminals" ,\
    "System/X11/Utilities" ,\
	"API/C API" ,\
	"API/Web API" ,\
	"Application Framework/Alarm" ,\
	"Application Framework/Application Installer" ,\
	"Application Framework/Application Launcher" ,\
	"Application Framework/Application State Management" ,\
	"Application Framework/Database" ,\
	"Application Framework/Notifications" ,\
	"Application Framework/Recently Used Applications" ,\
	"Application Framework/Settings" ,\
	"Applications/Account Application" ,\
	"Applications/Browser" ,\
	"Applications/Calculator" ,\
	"Applications/Calendar" ,\
	"Applications/Camera" ,\
	"Applications/Clock" ,\
	"Applications/Contacts" ,\
	"Applications/Dialer" ,\
	"Applications/Handset Examples" ,\
	"Applications/Handsfree Dialer" ,\
	"Applications/Image Viewer" ,\
	"Applications/Media Player" ,\
	"Applications/Navigation" ,\
	"Applications/Notes" ,\
	"Applications/Other" ,\
	"Applications/Panel Application" ,\
	"Applications/Task Manager" ,\
	"Applications/Volume Application" ,\
	"Base/Compression" ,\
	"Base/Device Management" ,\
	"Base/File Systems" ,\
	"Base/IPC" ,\
	"Base/Libraries" ,\
	"Base/Package Management" ,\
	"Base/Startup" ,\
	"Base/Toolchain" ,\
	"Base/Tools" ,\
	"Connectivity/Bluetooth" ,\
	"Connectivity/Connection Management" ,\
	"Connectivity/DNS" ,\
	"Connectivity/HTTP" ,\
	"Connectivity/NFC" ,\
	"Connectivity/Wireless" ,\
	"Domain/Subsystem" ,\
	"Documentation" ,\
	"Development/Libraries" ,\
	"Graphics/Automotive" ,\
	"Graphics/EFL" ,\
	"Graphics/Font Management" ,\
	"Graphics/Input" ,\
	"Graphics/Input Service Framework" ,\
	"Graphics/Libraries" ,\
	"Graphics/Qt" ,\
	"Graphics/Voice Framework" ,\
	"Graphics/Wayland Window System" ,\
	"Graphics/Window Management" ,\
	"Graphics/X Window System" ,\
	"Hardware Support/Automotive" ,\
	"Hardware Support/Handset" ,\
	"Hardware Support/PC" ,\
	"Location/Geolocation" ,\
	"Messaging/Email" ,\
	"Messaging/SMS" ,\
	"Multimedia/Audio" ,\
	"Multimedia/Automotive" ,\
	"Multimedia/Camera" ,\
	"Multimedia/Imaging Libraries" ,\
	"Multimedia/Media Service" ,\
	"Multimedia/Multimedia Framework" ,\
	"Multimedia/Policy Management" ,\
	"PIM/Calendar" ,\
	"PIM/Contacts" ,\
	"PIM/Events" ,\
	"Platfrom Development/Building" ,\
	"Platfrom Development/Cross" ,\
	"Platfrom Development/Cross Compilation" ,\
	"Platfrom Development/Editors" ,\
	"Platfrom Development/Perl" ,\
	"Platfrom Development/Python" ,\
	"Platfrom Development/SDK" ,\
	"Platfrom Development/Tools" ,\
	"Security/Access Control" ,\
	"Security/Accounts" ,\
	"Security/Certificate Management" ,\
	"Security/Crypto Libraries" ,\
	"Security/DRM" ,\
	"Security/Secure Storage" ,\
	"System/Automotive" ,\
	"System/Libraries" ,\
	"System/Logging" ,\
	"System/Power Manager" ,\
	"System/Sensor Framework" ,\
	"System/System Info" ,\
	"Telephony/Cellular" ,\
	"UX/Automotive" ,\
	"UX/Handset" ,\
	"Web/Web Engine" ,\
	"Web/Web Run Time" ,\
))
