from Config import *

setOption("ValidNoneDomains", (
))

setOption("ValidSubDomains", (
))

setOption("ValidDomains", (
))

setOption("ValidGroups", (
    "App Framework/Alarm", \
    "App Framework/Application Communication", \
    "App Framework/Application Core", \
    "App Framework/Application Installer", \
    "App Framework/Application Launcher", \
    "App Framework/Application Utility", \
    "App Framework/Configuration", \
    "App Framework/Database", \
    "App Framework/Notification", \
    "Automotive/Automotive Message Broker", \
    "Automotive/Automotive Web API", \
    "Automotive/Configuration", \
    "Automotive/DLNA", \
    "Automotive/Ethernet AVB", \
    "Automotive/GENIVI", \
    "Automotive/Hardware Adaption", \
    "Automotive/ICO Homescreen", \
    "Automotive/Modello", \
    "Automotive/Resource Policy", \
    "Automotive/Sample Apps", \
    "Automotive/Speech", \
    "Base/Compression", \
    "Base/Device Management", \
    "Base/File Systems", \
    "Base/Hardware Adaptation", \
    "Base/IPC", \
    "Base/Libraries", \
    "Base/Package Management", \
    "Base/Startup", \
    "Base/Toolchain", \
    "Base/Utilities", \
    "Contrib/Motion Sensor", \
    "Graphics & UI Framework/Buffer Management", \
    "Graphics & UI Framework/EFL", \
    "Graphics & UI Framework/Fonts", \
    "Graphics & UI Framework/GL", \
    "Graphics & UI Framework/Imaging", \
    "Graphics & UI Framework/Input Framework", \
    "Graphics & UI Framework/Qt", \
    "Graphics & UI Framework/Render Libraries", \
    "Graphics & UI Framework/Voice Framework", \
    "Graphics & UI Framework/Wayland Window System", \
    "Graphics & UI Framework/X Window System", \
    "Location/Geolocation", \
    "Messaging/Cellular", \
    "Messaging/Email", \
    "Mobile/Configuration", \
    "Mobile/EFL", \
    "Mobile/Gstreamer", \
    "Mobile/Hardware Adaptation", \
    "Mobile/X Window System", \
    "Multimedia/Audio FW", \
    "Multimedia/Codec", \
    "Multimedia/Imaging", \
    "Multimedia/Media Camera", \
    "Multimedia/Media Content", \
    "Multimedia/Media Editing", \
    "Multimedia/Media Playback", \
    "Multimedia/Media Radio", \
    "Multimedia/Media Service", \
    "Multimedia/Media Wireless Streaming", \
    "Native API/App Framework", \
    "Native API/Graphics & UI Framework", \
    "Native API/Location", \
    "Native API/Messaging", \
    "Native API/Multimedia", \
    "Native API/Network & Connectivity", \
    "Native API/Security", \
    "Native API/Social & Content", \
    "Native API/Telephony", \
    "Native API/Web Framework", \
    "Network & Connectivity/Bluetooth", \
    "Network & Connectivity/Data Network", \
    "Network & Connectivity/NFC", \
    "Network & Connectivity/Printing", \
    "Network & Connectivity/Serial", \
    "Network & Connectivity/WiFi", \
    "Platform Development/Build", \
    "Platform Development/Compiler", \
    "Platform Development/Perl", \
    "Platform Development/Python", \
    "Platform Development/Utilities", \
    "SCM/BB", \
    "SCM/Backend Services Configuration", \
    "SCM/Common Configuration", \
    "SCM/GBS Metadata", \
    "SDK/Command line tools", \
    "SDK/Common IDE", \
    "SDK/Documents", \
    "SDK/Dynamic analysis", \
    "SDK/Emulator", \
    "SDK/Native IDE", \
    "SDK/Native UI builder", \
    "SDK/Native build system", \
    "SDK/SDK package management", \
    "SDK/Web UI builder", \
    "SDK/Web simulator", \
    "Security/Accounts", \
    "Security/Application Privilege", \
    "Security/Authentication", \
    "Security/Certificates", \
    "Security/Cryptography", \
    "Security/Digital Rights", \
    "Security/Smack", \
    "Security/Utilities", \
    "Social & Content/GNOME", \
    "Social & Content/PIM", \
    "System/File Systems", \
    "System/Hardware Adaptation", \
    "System/Libraries", \
    "System/Logging", \
    "System/Sensor Framework", \
    "System/Software Update", \
    "System/User Management", \
    "System/Utilities", \
    "Telephony/Cellular FW", \
    "Telephony/Hardware Adaptation", \
    "Telephony/Telephony FW", \
    "Testing/IVI", \
    "Web Framework/Crosswalk", \
    "Web Framework/Web Engine", \
    "Web Framework/Web Runtime", \
    "Web Framework/Web UI FW", \
))
